.App{
  height: 100vh;
}
.nav-container{
  padding: 2px 50px;
  
}

.bg-body-tertiary{
  box-shadow: 0px 2px 2px 0px rgba(128, 128, 128, 0.295);
  height: 12vh;
}
.navbar-logo{
  width: 50px;
  height: 50px;
}
.nav-logo-con{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.nav-logo-con:hover{
  cursor: pointer;
}
.username-text{
  margin-top: 1rem;
  margin-right: 1rem;
}

.login-button{
  width: 200px;
    background-color: rgb(245, 66, 54);
    padding: 0.7rem 4rem;
    border: none;
    color: white;
    font-weight: 500;
    transition: 0.5s;
    
}
.login-button:hover{
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.5s;
}
